<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title class="text-muted">
            {% block title %}Base{% endblock%}
        </title>
    </head>
    <body>
        <div class="topnav">
                <a href="/">Back</a>
                <a href="/insert">Insert</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages%}
                {% for category,message in messages%}
                    {% if category=='error'%}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% elif  category=='warning'%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                {% endfor %}
            {%endif%}    
        {% endwith %}
        <div class="container" id="body"> 
            {% block content %}
        
            {% endblock%}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script
            type="text/javascript"
            src="{{url_for('static',filename='index.js')}}"
        ></script>
        
    </body>
</html>